# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
Thumbs.db
.DS_Store

# ML artifacts
*.pt
*.pth
*.ckpt
*.onnx

# Logs
*.log

# Build
dist/
build/
